@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//Vars
$roboto: "Roboto", sans-serif;
$mainAppColor: #fdd207;
$mainAppTitleColor: #371548;
$mainAppButtonHoverColor: #ffe159;
$mainTextInProgressTextColor: #371548;
$mainTrainerHeadingColor: #2b3172;
//end of Vars

//Mixins
@mixin fontSizeSettings($fSize, $lHeight) {
  font-size: $fSize;
  line-height: $lHeight;
}
//end of Mixins

//Templates
%centerOfScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%mainAppFonts {
  font-family: $roboto;
  font-weight: bold;
}

%sliderTrack {
  height: 20px;
  cursor: pointer;
  background: $mainAppColor;
  border-radius: 20px;
}
%sliderThumb {
  height: 16px;
  width: 16px;
  background: #0e0c0b;
  box-shadow: 0 0 0 10px $mainAppColor;
  border-radius: 50%;
}
//end of Templates
html {
  box-sizing: border-box;
}

body {
  background: #f7f9ff;
  @extend %mainAppFonts;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.title {
  @include fontSizeSettings(40px, 57px);

  color: $mainAppTitleColor;

  &::first-letter {
    text-transform: capitalize;
  }

  @media screen and (max-width: 1435px) {
    @include fontSizeSettings(34px, 51px);
  }
  @media screen and (max-width: 1240px) {
    @include fontSizeSettings(30px, 47px);
  }
  @media screen and (max-width: 1080px) {
    @include fontSizeSettings(27px, 44px);
  }
  @media screen and (max-width: 980px) {
    @include fontSizeSettings(25px, 42px);
  }
  @media screen and (max-width: 850px) {
    @include fontSizeSettings(23px, 40px);
  }
  @media screen and (max-width: 780px) {
    @include fontSizeSettings(21px, 38px);
  }
  @media screen and (max-width: 706px) {
    @include fontSizeSettings(19px, 36px);
  }
  @media screen and (max-width: 650px) {
    @include fontSizeSettings(25px, 42px);
  }
}

.trainer {
  @extend %centerOfScreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;

  @media screen and (max-width: 650px) {
    top: 0;
    transform: translate(-50%, 0);
  }

  & > div {
    flex-basis: 48%;
    margin-bottom: 3%;

    @media screen and (max-width: 650px) {
      flex-basis: 100%;
    }
    //и т.д.
  }

  .trainerTitleContainer {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 5%;

    .trainerTitle {
      color: $mainTrainerHeadingColor;
      @include fontSizeSettings(60px, 71px);

      &::first-letter {
        text-transform: capitalize;
      }

      @media screen and (max-width: 1000px) {
        @include fontSizeSettings(45px, 54px);
      }
      @media screen and (max-width: 769px) {
        @include fontSizeSettings(35px, 49px);
      }
      @media screen and (max-width: 650px) {
        @include fontSizeSettings(33px, 47px);
      }
      //и т.д.

      .quotes {
        font-size: 25px;
      }
    }
  }

  //background: red;

  .wordSettingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;

    .sliderContainer {
      width: 70%;

      .scaleValues {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 2%;

        .scaleValue {
          @include fontSizeSettings(35px, 50px);

          @media screen and (max-width: 1435px) {
            @include fontSizeSettings(30px, 48px);
          }
          @media screen and (max-width: 1240px) {
            @include fontSizeSettings(26px, 44px);
          }
          @media screen and (max-width: 1080px) {
            @include fontSizeSettings(22px, 42px);
          }
          @media screen and (max-width: 980px) {
            @include fontSizeSettings(19px, 40px);
          }
          @media screen and (max-width: 780px) {
            @include fontSizeSettings(16px, 37px);
          }
          @media screen and (max-width: 650px) {
            @include fontSizeSettings(22px, 42px);
          }
          //и т.д.
        }

        .activeScaleValue {
          color: $mainAppColor;
        }
      }

      .sliderSubContainer {
        margin-top: 15px;

        .slider {
          width: 100%;
          -webkit-appearance: none;

          &:focus {
            outline: none;
          }

          // Для Chrome
          &::-webkit-slider-runnable-track {
            @extend %sliderTrack;
          }
          &::-webkit-slider-thumb {
            @extend %sliderThumb;
            -webkit-appearance: none;
            margin-top: 2px;
          }
          //Для Firefox
          /* &::-moz-range-track {
        @extend %sliderTrack;
      }
      &::-moz-range-thumb {
        @extend %sliderThumb;
      } */
          //Для IE и Edge
          /* &::-ms-track {
        @extend %sliderTrack;
      }
      &::-ms-thumb {
        @extend %sliderThumb;
      } */
        }
      }
    }

    .titleContainer {
      width: 70%;
      display: flex;
      justify-content: space-between;

      .speedCardInput {
        width: 110px;
        height: 50px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        text-align: center;
        @include fontSizeSettings(40px, 50px);
        @extend %mainAppFonts;

        &:focus {
          outline: none;
        }

        &:disabled {
          color: #000;
        }

        @media screen and (max-width: 980px) {
          width: 90px;
          height: 40px;
          @include fontSizeSettings(35px, 45px);
        }
        @media screen and (max-width: 706px) {
          width: 80px;
          height: 30px;
          @include fontSizeSettings(30px, 40px);
        }
        @media screen and (max-width: 650px) {
          width: 90px;
          height: 40px;
          @include fontSizeSettings(35px, 45px);
        }
        //и т.д.
      }

      .titleNonCapitalise {
        &::first-letter {
          text-transform: lowercase;
        }
      }

      @media screen and (max-width: 1670px) {
        width: 80%;
      }
      @media screen and (max-width: 1240px) {
        width: 90%;
      }
      @media screen and (max-width: 650px) {
        width: 70%;
      }
      //и т.д.
    }

    .plusMinusBtnsContainer {
      display: flex;
      justify-content: space-between;
      width: 150px;
      margin-top: 15px;

      .speedHandlerBtn {
        width: 65px;
        height: 65px;
        padding: 0;
        background: $mainAppColor;
        @include fontSizeSettings(40px, 0);
        border: none;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          background: $mainAppButtonHoverColor;
        }

        @media screen and (max-width: 980px) {
          width: 60px;
          height: 60px;
        }
        @media screen and (max-width: 706px) {
          width: 50px;
          height: 50px;
        }
        @media screen and (max-width: 650px) {
          width: 60px;
          height: 60px;
        }
        //и т.д.
      }
    }
  }

  .startButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .startButton {
      min-width: 150px;
      max-height: 100px;
      height: 50%;
      display: block;
      background: $mainAppColor;
      border-radius: 81px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      @extend %mainAppFonts;
      width: 55%;
      &:hover {
        background: $mainAppButtonHoverColor;
      }

      @media screen and (max-width: 1080px) {
        max-height: 50px;
      }
      @media screen and (max-width: 650px) {
        height: 50px;
      }
      //и т.д.
    }
  }
}

.trainerInProgress {
  @extend %centerOfScreen;
  display: flex;
  justify-content: center;
  align-items: center;

  .wordDecor {
    font-weight: 900;
    @include fontSizeSettings(70px, 80px);
    color: $mainTextInProgressTextColor;
  }
}

.trainerFinished {
  @extend %centerOfScreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .trainerFinishedTitle {
    color: $mainTrainerHeadingColor;
    @include fontSizeSettings(60px, 70px);

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
